a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
li{
    list-style: none;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
  }
.header{
    display: flex;
    justify-content: center;  
    padding-top: 20px; 
}
.header text {
    font-size: 32px;
    color: rgb(94, 186, 248);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}
.main img{
    width: 200px;
    height: 150px;

}
.main  a{
    text-align: center;
    margin-top: 15px;
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.one, .two, .three {
    display: flex;
    flex-direction: column;
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}